{% extends 'base.html.twig' %}

{% block title %}Conditions Générales d'Utilisation - Virtual Urban Flow{% endblock %}

{% block body %}

<br>
<br>
<br>
<br>
<h1 class="green">Conditions Générales d'Utilisation</h1>

<h2 class="purple">1. Préambule</h2>
<p>Ces conditions générales d’utilisation (« CGU ») régissent l’accès et l’utilisation du site Virtual Urban Flow, accessible à l’adresse [URL de votre site]. En accédant ou en utilisant le site, vous acceptez d’être lié par ces conditions.</p>

<h2 class="purple">2. Description du service</h2>
<p>Virtual Urban Flow est une plateforme en ligne qui permet aux utilisateurs de créer et de visualiser des défilés de mode streetwear générés par intelligence artificielle. Les utilisateurs peuvent sélectionner des paramètres pour personnaliser les modèles, les vêtements et les mises en scène.</p>

<h2 class="purple">3. Accès au site</h2>
<p><strong>a.</strong> L’accès au site est ouvert à tous les utilisateurs ayant une connexion internet. Certains services sont toutefois réservés aux utilisateurs inscrits ayant créé un compte.<br>
<strong>b.</strong> L’utilisateur s’engage à fournir des informations véridiques lors de la création de son compte.</p>

<h2 class="purple">4. Propriété intellectuelle</h2>
<p><strong>a.</strong> Le contenu du site, y compris les textes, graphismes, logos, images, ainsi que leur sélection et disposition, est protégé par le droit de la propriété intellectuelle.<br>
<strong>b.</strong> Il est interdit de copier, modifier, distribuer, vendre ou louer tout ou partie de nos services ou du logiciel associé.</p>

<h2 class="purple">5. Utilisation des services</h2>
<p><strong>a.</strong> L’utilisateur s’engage à ne pas utiliser les services à des fins illégales ou non autorisées.<br>
<strong>b.</strong> L’utilisateur est seul responsable du contenu qu'il génère.</p>

<h2 class="purple">6. Limitation de responsabilité</h2>
<p>Virtual Urban Flow ne peut être tenu responsable des dommages indirects qui pourraient survenir du fait de l’achat ou de l’utilisation des produits proposés sur le site.</p>

<h2 class="purple">7. Modification des CGU</h2>
<p>Nous nous réservons le droit de modifier les présentes CGU à tout moment. Les modifications prendront effet immédiatement après leur publication sur le site.</p>

<h2 class="purple">8. Contact</h2>
<p>Pour toute question ou réclamation concernant Virtual Urban Flow, veuillez nous contacter à [adresse email].</p>

<h2 class="purple">9. Droit applicable et juridiction compétente</h2>
<p>Ces CGU sont régies par le droit français. Tout litige lié à leur interprétation et/ou à leur exécution relève des tribunaux français.</p>


{% endblock %}
